body {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  padding-bottom: 100px;
}
menu {
  background-color: yellow;
  padding: 20px;
}
h2 {
  font-size: 30px;
  line-height: 100px;
}
.pill {
  background-color: turquoise;
  border: solid 1px black;
  padding: 20px;
}

/* EXERCICE 1 */
.exercice1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* EXERCICE 2 */

/* EXERCICE 3 */

/* EXERCICE 4 */

/* EXERCICE 5 */

/* EXERCICE 6 */

/* EXERCICE 7 */
